#gallery-section {
    position: relative;
    padding: 100px 0 103px 0;
    background: url(../img/main-page/gallery-bg.jpg) 50%/cover no-repeat;
    @media (max-width: 1250px) {
        padding: 40px 0 100px 0;
    }
    @media (max-width: 767px) {
        padding: 20px 0 80px 0;
    }
    .button-prev {
        @include slider-button;
        top: calc(50% + 24px);
        left: calc(50% - 585px - 80px);
        .arrow-prev {      
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            &::after {
                position: absolute;
                top: calc(50% - 8px);
                left: calc(50% - 8px);
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                border-left: 3px solid $dark;
                border-bottom: 3px solid $dark;
                transform: rotate(45deg);
            }
        }
        @media (max-width: 1380px) {
            left: calc(50% - 15px - 24px);
            top: calc(100% - 48px - 40px);
        }
        @media (max-width: 767px) {
            top: calc(100% - 48px - 20px);
            left: calc(50% - 15px - 24px);
        }
    }
    .button-next {
        @include slider-button;
        top: calc(50% + 24px);
        right: calc(50% - 585px - 80px);
        &::after {
            position: absolute;
            top: calc(50% - 8px);
            left: calc(50% - 8px);
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-right: 3px solid $dark;
            border-bottom: 3px solid $dark;
            transform: rotate(-45deg);
            &:active {
                border-right: 3px solid $green;
                border-bottom: 3px solid $green;
            }
        }
        @media (max-width: 1380px) {
            // top: calc(100% - 40px - 24px);
            left: calc(50% + 15px + 24px);
            top: calc(100% - 48px - 40px);
        }
        @media (max-width: 767px) {
            // top: calc(100% - 20px - 24px);
            top: calc(100% - 48px - 20px);
            left: calc(50% + 15px + 24px);
        }
    }
    .gallery {
        .section-title {
            margin-bottom: 50px;
            @media (max-width: 1250px) {
                margin-bottom: 20px;
            }
        }

        .swiper {
            
            .swiper-wrapper {

                .swiper-slide {
    
                    .slide-top, .slide-bottom {
                        display: flex;
                        gap: 30px;
                        @media (max-width: 650px) {
                            flex-direction: column;
                            gap: 12px;
                        }
                    }
                    .slide-bottom {
                        @media (max-width: 1250px) {
                            .gallery-img:nth-child(1) {
                                max-width: 423px;
                            }
                            .gallery-img:nth-child(2) {
                                max-width: 294px;
                            }
                        }
                        @media (max-width: 650px) {
                            .gallery-img:nth-child(1) {
                                max-width: 100%;
                            }
                            .gallery-img:nth-child(2) {
                                max-width: 100%;
                            }
                        }
                    }
                    .slide-top {
                        margin-bottom: 30px;
                        @media (max-width: 1250px) {
                            .gallery-img:nth-child(1) {
                                max-width: 294px;
                            }
                            .gallery-img:nth-child(2) {
                                max-width: 423px;
                            }
                        }
                        @media (max-width: 650px) {
                            margin-bottom: 12px;
                            .gallery-img:nth-child(1) {
                                max-width: 100%;
                            }
                            .gallery-img:nth-child(2) {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}